# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Environment files
.env

# Email Data
emails/
emails_data/*.json
emails_data/id_mapping.json

# SSL Certificates
localhost.crt
localhost.key

# Logs
core/utils/log_manager/log_files/

# Dev documents
dev/test_attachments/

